/* Empty. Add your own CSS if you like */

html, body {
    width: 100%;
}

body{
    font-family:'Helvetica LT Std'
}



#center{ 
    text-align:center;
    width : 100%;
    margin-top: 15%;
}

#center ul {
    width: 100%;
    font-size: 0;
}

#center ul li {
    display: inline-block;
    width: 33.3333333%;
}

#labeltypeBien{
    font-weight: bold;
}

}

.bouton2{
    background-color: red;
}



.img-maison{
   background: url(../img/maison.png) no-repeat;
   width: 150px;
    height: 150px;
	align: middle;
}

.titre1{
    background: url(../img/type_t.png) no-repeat;   
    zoom:90%;
}
.ancien{
    background: url(../img/ancien.png) no-repeat;   
    zoom:90%;
}
.neuf{
    background: url(../img/neuf.png) no-repeat;   
    zoom:90%;
}
.homme{
    background: url(../img/homme_s.png) no-repeat;   
    zoom:50%;
}
.femme{
    background: url(../img/femme_s.png) no-repeat;   
    zoom:50%;
}
.ancienb{
    background: url(../img/ancien_b.png) no-repeat;   
    zoom:20%;
}
.neufb{
    background: url(../img/neuf_b.png) no-repeat;   
    zoom:20%;
}

.immeuble{
   /* background: url(../img/immeuble.png) no-repeat; */
}

.bouton{
     width: 190px;
    height: 190px;
    box-shadow: none;
    border-color: transparent; 
}
.bouton2{
     width: 40px;
    height: 80px;
    box-shadow: none;
    border-color: transparent; 
}
.bouton3{
     width: 80px;
    height: 120px;
    box-shadow: none;
    border-color: transparent; 
}





.irs-hidden-input
{
    opacity: 0.0!important;
}
.titre
{
    font-size: 18px;
        
}
#T_recap td{
border:1px solid #d3d3d3;
}



#ui-id-2 .irs-single
{
    background-color: #1bdbc2!important;
    background: #1bdbc2!important;
}
#ui-id-3 .irs-single
{
    background-color: #c86ef7!important;
    background: #c86ef7!important;
}